
<div class="container-form">
  <%= form_for @member, url: admin_member_path(@member), method: :put do |f| %>
    <div class="container-box center">
      <h1 class="center">Editar socio</h1>
      <%= render 'form', f: f %>
    </div>
  <% end %>
</div>
