
<div class="container-form">
  <%= form_for @member, url: admin_members_path do |f| %>
    <div class="container-box center">
      <h2>Nuevo socio</h2>
      <%= render 'form', f: f %>
    </div>
  <% end %>
</div>
