<div class="container-form">
  <%= form_for @aeroplane, url: admin_aeroplane_path(@aeroplane), method: :put do |f| %>
  <div class="container-box center">

    <h2>Editar socio</h2>
    <div class="col-box">
      <%= render 'form', f: f %>
    </div>
    <%= link_to 'Volver', admin_aeroplanes_path %>
  </div>
  <% end %>
</div>