<div class="container-form">
  <%= form_for @aeroplane, url: admin_aeroplanes_path do |f| %>
    <div class="container-box center">
      <h2>Nuevo material</h2>
      <div class="col-box">
        <%= render 'form', f: f %>
      </div>
      <%= link_to 'Volver', admin_aeroplanes_path %>
    </div>
  <% end %>
</div>