<div class="center">
  <h1>Reservas</h1>

  <%= link_to 'Nueva Reserva', new_reservation_path %>
</div>

<div class="calendar-container">
  <div id="calendar"></div>
</div>

<div class="container container-table reservations">
  <table id="reservations-table">
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function(){

  
    $('#calendar').once().fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: ''
      },
      buttonText: {
        today: 'hoy'
      },
      fixedWeekCount: true,
      editable: false,
      eventLimit: true, // when too many events in a day, show the popover
      events: "/reservations.json",
      eventClick: function(calEvent, jsEvent, view) {
         window.location.replace("/reservations/" + calEvent.id);
      },
      viewRender: function(view, element){
        $.ajax({url: '/reservations.js?start='+view.start.format()+"&end="+view.end.format() })
      }
    });

    $('#calendar').fullCalendar('option', 'locale', 'es');
    

  })
</script>