<div class="center">
  <h1>Reservas</h1>

  <%= link_to 'Nueva Reserva', new_reservation_path %>
</div>

<div class="calendar-container">
  <div id="calendar"></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

  
    $('#calendar').once().fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: ''
      },
      buttonText: {
        today: 'hoy'
      },
      fixedWeekCount: true,
      editable: false,
      eventLimit: true, // when too many events in a day, show the popover
      events: "/reservations.json",
      eventClick: function(calEvent, jsEvent, view) {
        window.location.replace("/reservations/" + calEvent.id);
      },
      dayClick: function(date, jsEvent, view) {
        window.location.replace("/reservations/new?start="+date.format());
      }
    });

    $('#calendar').fullCalendar('option', 'locale', 'es');
    

  })
</script>