// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #F7F5F3;
  font-family: 'Lato', sans-serif;
}

.header {
  background-color: white;
  position: relative;
  padding: 1em 1em 1em .5em;
  margin: 0 -.5em;
  top: -10px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;

}

#calendar {
  max-width: 900px;
  margin: 40px auto;

  .fc-toolbar:nth-child(n+2){
    display: none;
  }

  .fc-view-container {
    background-color: white;
    overflow-y: none;

    &:nth-child(n+4) {
      display: none;
    }

    div.fc-scroller {
      height: inherit !important;
    }
  }
}


.container-box {
  position: relative;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: .5rem;
  overflow: hidden;
  max-width: 350px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: auto;
  margin-left: auto;
}

.main-content {
  margin-right: auto;
  margin-left: auto;

}

.container-table {
  max-width: 60em;
  box-sizing: border-box;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden; 
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
.container-table {
  table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }
}

@media 
only screen and (max-width: 760px), 
(min-device-width: 768px) and (max-device-width: 940px)  {
  .header {
    font-size: 15px;
  }

  .container-table {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
     
      &:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
      }
    }
    
    /*
    Label the data
    */
    &.aeroplanes {
      td:nth-of-type(1):before { content: "Matrícula"; }
      td:nth-of-type(2):before { content: "Tipo de aeronave"; }
      td:nth-of-type(3):before { content: "Marca"; }
      td:nth-of-type(4):before { content: "Próxima revisión"; }
      td:nth-of-type(5):before { content: "Tiempo de vuelo"; }
      td:nth-of-type(6):before { content: "Horas disponibles"; }
      td:nth-of-type(7):before { content: "Estado"; }
      td:nth-of-type(8):before { content: "Acciones"; }
    }

    &.members {
      td:nth-of-type(1):before { content: "Rut"; }
      td:nth-of-type(2):before { content: "Número de socio"; }
      td:nth-of-type(3):before { content: "Nombre"; }
      td:nth-of-type(4):before { content: "Acciones"; }
    }

    &.reservations {
      td:nth-of-type(1):before { content: "Fecha inicio"; }
      td:nth-of-type(2):before { content: "Fecha término"; }
      td:nth-of-type(3):before { content: "Material"; }
      td:nth-of-type(4):before { content: "Socio"; }
      td:nth-of-type(5):before { content: "Acciones"; }
    }
  }
}


.container-form {
  position: relative;
  box-sizing: border-box;
  padding: 10px;

  .container-box {
    max-width: 35em;
  }
}

.center {
  justify-content: center;
  text-align: center;
}

.col-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 25px;


  label, p {
    margin-top: 10px;
    align-self: flex-start;
  }

  .remember {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    input {
      flex: 0 1 auto;
    }

    label {
      flex: 0.1 1 auto;
    }
  }
}

div.display {
  max-width: 35em;
}


select, 
input[type=text], input[type=email], input[type=password], input[type=date] {
  padding: .5px .5px;
  border-radius: .3rem;
  border: 1px solid #ced4da;
  background-color: #fff;
  height: 30px;
  text-indent: 5px;
  margin: 5px 0;

  &:hover, &:focus {
    box-shadow: 0px 0px 6px rgba(35, 173, 255, 1);
    transition: all 200ms ease-out;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  
}

select[multiple=multiple] {
  height: 80px;
}

a {
  text-decoration: none;
}


/*@media screen and (max-width: 440px) {
  input[type=text], input[type=email], input[type=password] {
    max-width: 110px;
  }
}*/

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  line-height: 2;
  font-size: 1rem;
  border-radius: .3rem;
  margin: 10px 0px;

  &:hover{
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
  }

  &.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  &.btn-action {

  }

  &.btn-block {
    width: 100%;
  }
}

.flash {
  padding: .8rem;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  border-radius: .3rem;

  &.alert {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
  }

  &.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  &.notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  &.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
  }

  .close {
    position: relative;
    top: -2px;
    color: inherit;
    float: right;
    font-weight: 700;
    text-decoration: none;
    opacity: .2;
  }
}
