// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #F7F5F3;
  font-family: 'Lato', sans-serif;
}
.container-box {
  position: relative;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: .5rem;
  overflow: hidden;
  max-width: 350px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container {
  margin-right: auto;
  margin-left: auto;
}

.container-form {
  position: relative;
  box-sizing: border-box;
  padding: 10px;

}

.center {
  justify-content: center;
  text-align: center;
}

.col-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 25px;
  
  /*input {
    margin: 0px !important;
    width: 100%;
  }*/


  label {
    margin-top: 10px;
    align-self: flex-start;
  }

  .remember {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    input {
      flex: 0 1 auto;
    }

    label {
      flex: 0.1 1 auto;
    }
  }
}

input[type=text], input[type=email], input[type=password] {
  padding: .5px .5px;
  border-radius: .3rem;
  border: 1px solid #ced4da;
  background-color: #fff;
  height: 30px;
  text-indent: 5px;
  margin: 5px 0;

  &:hover{
    box-shadow: 0px 0px 6px rgba(35, 173, 255, 1);
    transition: all 200ms ease-out;
  }
}

/*@media screen and (max-width: 440px) {
  input[type=text], input[type=email], input[type=password] {
    max-width: 110px;
  }
}*/

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  line-height: 2;
  font-size: 1rem;
  border-radius: .3rem;
  margin: 10px 0px;

  &:hover{
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
  }

  &.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  &.btn-action {

  }

  &.btn-block {
    width: 100%;
  }
}

.flash {
  padding: .8rem;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  border-radius: .3rem;

  &.alert {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
  }

  &.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  &.notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  &.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
  }

  .close {
    position: relative;
    top: -2px;
    color: inherit;
    float: right;
    font-weight: 700;
    text-decoration: none;
    opacity: .2;
  }
}
