<h2>Cuentas</h2>

<ul>
  <% @accounts.each do |a| %>
    <li><%= link_to a.created_at, a.file.url %></li>
  <% end %>
</ul>

<% if (user_signed_in? && current_user.is_admin?) || admin_signed_in? %>
  <h2>Subir cuenta</h2>

  <%= form_for @account do |f| %>
    <%= f.file_field :file %>
    <%= f.submit %>
  <% end %>
<% end %>